[submodule "cores/Template"]
	path = cores/Template
	url = https://github.com/MiSTeX-devel/Template_MiSTeX
[submodule "cores/Arcade-Pong"]
	path = cores/Arcade-Pong
	url = https://github.com/MiSTeX-devel/Arcade-Pong_MiSTeX.git
[submodule "cores/Arcade-DigDug/upstream"]
	path = cores/Arcade-DigDug/upstream
	url = https://github.com/MiSTer-devel/Arcade-DigDug_MiSTer.git
[submodule "cores/Arcade-Galaga/upstream"]
	path = cores/Arcade-Galaga/upstream
	url = https://github.com/MiSTer-devel/Arcade-Galaga_MiSTer.git
[submodule "cores/Arcade-QBert/upstream"]
	path = cores/Arcade-QBert/upstream
	url = https://github.com/MiSTer-devel/Arcade-QBert_MiSTer.git
[submodule "cores/Arcade-BombJack/upstream"]
	path = cores/Arcade-BombJack/upstream
	url = https://github.com/MiSTer-devel/Arcade-BombJack_MiSTer.git
[submodule "cores/FlappyBird/upstream"]
	path = cores/FlappyBird/upstream
	url = https://github.com/MiSTer-devel/FlappyBird_MiSTer
[submodule "cores/Menu/upstream"]
	path = cores/Menu/upstream
	url = https://github.com/MiSTer-devel/Menu_MiSTer
[submodule "cores/MemTest/upstream"]
	path = cores/MemTest/upstream
	url = https://github.com/MiSTer-devel/MemTest_MiSTer
[submodule "cores/InputTest/upstream"]
	path = cores/InputTest/upstream
	url = https://github.com/MiSTer-devel/InputTest_MiSTer.git
[submodule "cores/Arcade-Popeye/upstream"]
	path = cores/Arcade-Popeye/upstream
	url = https://github.com/MiSTer-devel/Arcade-Popeye_MiSTer.git
[submodule "cores/Arcade-SEGASYS1/upstream"]
	path = cores/Arcade-SEGASYS1/upstream
	url = https://github.com/MiSTer-devel/Arcade-SEGASYS1_MiSTer.git
[submodule "cores/Arcade-Pacman/upstream"]
	path = cores/Arcade-Pacman/upstream
	url = https://github.com/MiSTer-devel/Arcade-Pacman_MiSTer.git
[submodule "cores/Arcade-BurgerTime/upstream"]
	path = cores/Arcade-BurgerTime/upstream
	url = https://github.com/MiSTer-devel/Arcade-BurgerTime_MiSTer.git
[submodule "cores/Arcade-DonkeyKong/upstream"]
	path = cores/Arcade-DonkeyKong/upstream
	url = https://github.com/MiSTer-devel/Arcade-DonkeyKong_MiSTer.git
[submodule "cores/Arcade-Tecmo/upstream"]
	path = cores/Arcade-Tecmo/upstream
	url = https://github.com/MiSTer-devel/Arcade-Tecmo_MiSTer.git
[submodule "cores/NeoGeo/upstream"]
	path = cores/NeoGeo/upstream
	url = https://github.com/MiSTer-devel/NeoGeo_MiSTer
[submodule "cores/SMS/upstream"]
	path = cores/SMS/upstream
	url = https://github.com/MiSTer-devel/SMS_MiSTer.git
[submodule "cores/SNES/upstream"]
	path = cores/SNES/upstream
	url = https://github.com/MiSTer-devel/SNES_MiSTer.git
[submodule "cores/NES/upstream"]
	path = cores/NES/upstream
	url = https://github.com/MiSTer-devel/NES_MiSTer.git
[submodule "cores/C64/upstream"]
	path = cores/C64/upstream
	url = https://github.com/MiSTer-devel/C64_MiSTer/
