[submodule "cores/Template"]
	path = cores/Template
	url = https://github.com/MiSTeX-devel/Template_MiSTeX
[submodule "cores/Menu"]
	path = cores/Menu
	url = https://github.com/MiSTeX-devel/Menu_MiSTeX
[submodule "cores/Arcade-BombJack"]
	path = cores/Arcade-BombJack
	url = https://github.com/MiSTeX-devel/Arcade-BombJack_MiSTeX
