[submodule "cores/Template"]
	path = cores/Template
	url = https://github.com/MiSTeX-devel/Template_MiSTeX
[submodule "cores/Menu"]
	path = cores/Menu
	url = https://github.com/MiSTeX-devel/Menu_MiSTeX
[submodule "cores/Arcade-BombJack"]
	path = cores/Arcade-BombJack
	url = https://github.com/MiSTeX-devel/Arcade-BombJack_MiSTeX
[submodule "cores/Arcade-QBert"]
	path = cores/Arcade-QBert
	url = https://github.com/MiSTeX-devel/Arcade-QBert_MiSTeX
[submodule "cores/SMS"]
	path = cores/SMS
	url = https://github.com/MiSTeX-devel/SMS_MiSTeX
[submodule "cores/InputTest"]
	path = cores/InputTest
	url = https://github.com/MiSTeX-devel/InputTest_MiSTeX
[submodule "cores/MemTest"]
	path = cores/MemTest
	url = https://github.com/MiSTeX-devel/MemTest_MiSTeX
[submodule "cores/Arcade-Pacman"]
	path = cores/Arcade-Pacman
	url = https://github.com/MiSTeX-devel/Arcade-Pacman_MiSTeX.git
[submodule "cores/Arcade-Pong"]
	path = cores/Arcade-Pong
	url = https://github.com/MiSTeX-devel/Arcade-Pong_MiSTeX.git
[submodule "cores/NES"]
	path = cores/NES
	url = https://github.com/MiSTeX-devel/NES_MiSTeX.git
[submodule "cores/FlappyBird"]
	path = cores/FlappyBird
	url = https://github.com/MiSTeX-devel/FlappyBird_MiSTeX
