# use the same migen revision, that LiteX uses
git+https://github.com/m-labs/migen@ccaee68e14d3636e1d8fb2e0864dd89b1b1f7384
litex
pyusb
git+https://github.com/enjoy-digital/litescope/
# litex_boards
git+https://github.com/litex-hub/litex-boards.git
# We need the fix in this branch for the avalon frontent, until it is merged upstream
git+https://github.com/hansfbaier/litedram.git@downconvert-cleanup
icecream
pythondata_software_compiler_rt
pythondata_software_picolibc
